stages:
  - deploy

deploy_main:
  tags:
    - hva
  stage: deploy
  only:
    - main
  script:
    - echo "$VPS_SSH_KEY" > id_rsa
    - chmod 600 id_rsa
    - ssh -o StrictHostKeyChecking=no -i id_rsa root@185.228.82.235 '
        docker stop frontend-main || true &&
        docker rm frontend-main || true &&
        docker run -d --name frontend-main -p 3000:3000 dark-tech-frontend:latest &&
        docker stop backend-main || true &&
        docker rm backend-main || true &&
        docker run -d --name backend-main -p 8000:8000 dark-tech-backend:latest
      '
    - rm id_rsa
    - echo "Deploy naar main via runner met tag hva"

deploy_dev:
  tags:
    - hva
  stage: deploy
  only:
    - dev
  script:
    - echo "$VPS_SSH_KEY" > id_rsa
    - chmod 600 id_rsa
    - ssh -o StrictHostKeyChecking=no -i id_rsa root@185.228.82.235 '
        docker stop frontend-dev || true &&
        docker rm frontend-dev || true &&
        docker run -d --name frontend-dev -p 3001:3000 dark-tech-frontend:dev &&
        docker stop backend-dev || true &&
        docker rm backend-dev || true &&
        docker run -d --name backend-dev -p 8001:8000 dark-tech-backend:dev
      '
    - rm id_rsa
    - echo "Deploy naar dev via runner met tag hva"

test_runner:
  stage: deploy
  tags:
    - hva
  script:
    - echo "Runner met tag hva werkt!"
