version: "3.9"

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    environment:
      - PORT=8000

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
    depends_on:
      - backend

  frontend-dev:
    build: ./frontend
    ports:
      - "3001:3000"
    environment:
      - PORT=3001
    depends_on:
      - backend-dev

  backend-dev:
    build: ./backend
    ports:
      - "8001:8000"
    environment:
      - PORT=8001
